/*
*Estilos generales
*/
*{
  margin: 0;
  padding: 0;

}

body {
}

/*
*Estilos header
*/
.headerppal {
	background-color: #BAC48F;
	height: auto;
	width: 100%;
}

.logo {
	margin: 0 0 0 auto;
	color: #595644;
}

.navsection {
	float: right;
	padding: 1em;
}


/*
*Estilos  main
*/
.main {
	background-color: grey;
	width: 100%;
	height:  100vh;
}

.main img {
	border-radius: 50%;
	height: 10%;
	width: auto;
	margin-top: 1.5vh;
	margin-left: 10vh;
}

.comments {
	align-content: center;
	margin-left: 30vh;
	width: 70%;
}

