/*
*Estilos generales
*/
*{
  margin: 0;
  padding: 0;

}

body {
}

/*
*Estilos header
*/
.headerppal {
	background-color: #BAC48F;
	height: auto;
	width: 100%;
}

.logo {
	margin: 0 0 0 auto;
	color: #595644;
}

.navsection {
	float: right;
	padding: 1em;
}


/*
*Estilos  main
*/
.main {
	background-color: grey;
	width: 100%;
	height:  100vh;
}

.info-user {
	background-color: #D55A5A
width: 100%;
	height:  10vh;

}

.info-user img {
	border-radius: 50%;
	height: 100%;
	width: auto;
	margin-top: 1vh;
	margin-left: 10vh;
	
}

