/*
*Estilos generales
*/
*{
  margin: 0;
  padding: 0;

}

body {
}

/*
*Estilos header
*/
.navbar {
  position: relative;
  background-color: #68C159;
}

.navbar-brand{
  padding:10px 15px
}

.icon {
  width: 35px;
  height: 35px;
  padding-bottom:3px;
}

.i {
  font-size:25px;
  padding-left:20px;
  padding-right: 20px;
  padding-top:12px;
}

.shop {
	margin-top: 0.2em;
	margin-left: 1em;
}

.lupa {
  font-size: 20px;
}

.menuright {
	float: right;
}

.menuright li {
	padding-right: 1em;
	margin-top: 0.5em;
}
/*
*Estilos  main
*/
